@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-warn {
  @apply bg-red-600;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Height */
::-webkit-scrollbar {
  height: 5px; /* Adjust the height as per your preference */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Mengatur aside dan header menjadi sticky */
.sticky-aside {
  position: sticky;
  top: 0;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.btn,
.input,
.file-input {
  @apply rounded-full;
}
